out/**
src/**
.gitignore
vsc-extension-quickstart.md
CHANGELOG.md
tsconfig.json
tslint.json
src/**
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/test/**
**/*.test.ts
**/*.spec.ts
!**/*.d.ts
